<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
	<!-- The client connects to an Armagetron listen server over UDP. -->
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<application android:label="Armagetron" android:allowBackup="true" android:hardwareAccelerated="true" />
</manifest>
